body{
margin:10px;
background-color:#d2e9fe;
font-size:12px;
font-family:Verdana;
}

.line {
	background-image: url('menu_line.gif');
	height:1px;
}
.titlebold{
font-weight: bold; 
font-size: 16px; 
color: #00387d;
height: 40px;
text-align: center;

  }

table.tableserch
{
border:1px solid #7c97b1;
background-color:#d9ebfc;
white-space:nowrap;

}
table.tableserch tr td
{
line-height:25px;
padding-left:5px;
padding-right:5px;
height:30px;
}

table.tableserch input
{
border:expression(this.type=="checkbox" || this.type=="radio" ?"0px":"style");

}


table.tablebold
{
border:1px solid #7c97b1;
background-color:#d9ebfc;

}
table.tablebold tr td
{
line-height:25px;
padding-left:5px;
padding-right:5px;

}

.btn_select_4
{
	border-style: none;
	border-color: inherit;
	border-width: 0px;
	font-size:12px;
	cursor: hand;
	background-image:url('brower4.gif');
	width:61px;
	height:20px;
	color:#000000;
}

.btn_select_5
{
	border-style: none;
	border-color: inherit;
	border-width: 0px;
	font-size:12px;
	cursor: hand;
	background-image:url('brower5.gif');
	width:75px;
	height:20px;
	color:#000000;
}

.btn_2
{
	border-style: none;
	border-color: inherit;
	border-width: 0px;
	font-size:12px;
	cursor: hand;
	background-image:url('btn_2.gif');
	width:50px;
	height:20px;
	color:white;
}

.btn_5
{
	border-style: none;
	border-color: inherit;
	border-width: 0px;
	font-size:12px;
	cursor: hand;
	background-image:url('btn_5.gif');
	width:70px;
	height:20px;
	color:white;
}

.btn_6 
{
	border-style: none;
	border-color: inherit;
	border-width: 0px;
	font-size:12px;
	cursor: hand;
	background-image:url('btn_6.gif');
	width:90px;
	height:20px;
	color:white;
}

.btn_7
{
	border-style: none;
	border-color: inherit;
	border-width: 0px;
	font-size:12px;
	cursor: hand;
	background-image:url('btn_7.gif');
	width:100px;
	height:20px;
	color:white;
}

.btn_8
{
	border-style: none;
	border-color: inherit;
	border-width: 0px;
	font-size:12px;
	cursor: hand;
	background-image:url('btn_8.gif');
	width:110px;
	height:20px;
	color:white;
}

.btn_9
{
	border-style: none;
	border-color: inherit;
	border-width: 0px;
	font-size:12px;
	cursor: hand;
	background-image:url('btn_9.gif');
	width:125px;
	height:20px;
	color:white;
}

.btn_10
{
	border-style: none;
	border-color: inherit;
	border-width: 0px;
	font-size:12px;
	cursor: hand;
	background-image:url('btn_10.gif');
	width:140px;
	height:20px;
	color:white;
}

.btn_11
{
	border-style: none;
	border-color: inherit;
	border-width: 0px;
	font-size:12px;
	cursor: hand;
	background-image:url('btn_11.gif');
	width:148px;
	height:20px;
	color:white;
}

.btn_12
{
	border-style: none;
	border-color: inherit;
	border-width: 0px;
	font-size:12px;
	cursor: hand;
	background-image:url('btn_12.gif');
	width:155px;
	height:20px;
	color:white;
}

.btn_13
{
	border-style: none;
	border-color: inherit;
	border-width: 0px;
	font-size:12px;
	cursor: hand;
	background-image:url('btn_13.gif');
	width:162px;
	height:20px;
	color:white;
}

table.tablelist
{
border:1px solid #7c97b1;
background-color:#d9ebfc;
border-bottom:0px;
border-left:0px;
width:95%;
}
table.tablelist th
{
font-weight:bold;
text-align:center;
white-space:nowrap;
border-bottom:1px solid #7c97b1;
border-left:1px solid #7c97b1;
padding-left:5px;
height:30px;
}
table.tablelist tr td
{
border-bottom:1px solid #7c97b1;
border-left:1px solid #7c97b1;
height:30px;
padding-left:5px;

}
table.tablelist a
{
color:#07346b;
text-decoration:none;
}
table.tablelist a:hover
{
color:#990000;
text-decoration:underline;
}
.tablelist_title
{
font-weight:bold;
white-space:nowrap;
text-align:right;
}
.page
{
height:30px; 
text-align:right;
 padding-right:5px;
}
.page a
{
color:#000000;
text-decoration:none;
}
.page a:hover
{
color:#990000;
text-decoration:underline;

}

table.tableadd
{
border:1px solid #7c97b1;
background-color:#d9ebfc;
width:95%;

}
table.tableadd tr td
{
height:30px;
padding-left:5px;
padding-right:5px;

}
table.tableadd input
{
/*width:expression(this.type=="text"?"95%":"style");*/
border:expression(this.type=="checkbox" || this.type=="radio" || this.type=="button"?"0px":"style");
border:1px solid #7c97b1;

}
.tableaddtextarea
{
width:95%;
height:100px;
padding-top:5px;
padding-bottom:5px;
}
.tableaddselect
{
width:150px;
}

table.tablewk
{
border:1px #9db3c8 solid;
background-color:#ffffff;
width:95%;
}
.inputdisabled
{
background-color:#e6e6e6;
border:expression(this.type=="checkbox" || this.type=="radio" || this.type=="image"?"0px":"style");
}