.SNSDiv {
	width:100%;
	text-align:center;
}
.LightBoxWinDIV{
	width:600px;
	height:auto;
	z-index:99; 
	background-color: #F0F4FB;
    border:1px solid #ffffff;
    border-bottom:4px solid #92a9c4;
    padding:1px;
}
.LightBoxWinDIV1 {
	position:absolute; 
	left:0px; 
	top:0px; 
	z-index:98; 
	background-color: #000000;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
}
.LightBoxWinDIVBG{
	height:25px; 
	background-color:#acc0d8;
    border-bottom:1px solid #859DBC;
}
.ShieldWinDIV {
	position:absolute; 
	left:0px; 
	top:0px; 
	background-color: #0D1426;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	z-index:98;
}
