body{
margin:0;
margin-top:1%;
margin-bottom:1%;
margin-left:4px;
font-size:12px;
font-family:Verdana;
background-image:url('logobg.jpg');
}
a{
color:#000000;
text-decoration:none;
}
a:hover
{
color:#990000;
text-decoration:underline;
}

table.logoin
{
width:908px;
height:562px;
background-image:url('bg.jpg');

}

table.logoinput
{

}
table.logoinput tr td
{
line-height:30px;

}
table.logoinput input
{
border:1px #3376a1 solid;
border:expression(this.type=="checkbox" || this.type=="radio" || this.type=="image"?"0px":"style");

}
.inputdisabled
{
background-color:#e6e6e6;
border:expression(this.type=="checkbox" || this.type=="radio" || this.type=="image"?"0px":"style");
}