TD {
	FONT-SIZE: 12px
}
TH {
	FONT-SIZE: 12px
}
A:link {
	COLOR: #2a201b; TEXT-DECORATION: none
}
A:visited {
	COLOR: #2a201b; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ae0000; TEXT-DECORATION: none
}
DIV#main {
	BACKGROUND: url(bg1.jpg) repeat-x; WIDTH: 100%; HEIGHT: 100%; TEXT-ALIGN: left
}
#left-content A {
	COLOR: #f4e1b6; TEXT-DECORATION: none
}
#left-content A:hover {
	COLOR: #ff9900; TEXT-DECORATION: underline
}
DIV#left-area {
	WIDTH: 174px;
}
DIV.new-guide UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.5em 0.2em 0.5em 1.8em; PADDING-TOP: 0px
}
DIV.new-guide LI {
	PADDING-RIGHT: 0em; PADDING-LEFT: 0em; LIST-STYLE-POSITION: outside; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0em
}
DIV#left-area DIV.r-box DIV.handle {
	BACKGROUND: url(../images/frontadmin_menu.jpg) repeat-x;  CURSOR: pointer; HEIGHT: 26px; 
}
DIV#left-area DIV.r-box DIV.handle IMG {
	MARGIN: 0em 0em 0em 0.5em
}
DIV#left-area DIV.r-box DIV.slide UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.5em 0.2em 0.5em 1.8em; PADDING-TOP: 0px;line-height:20px;
}
DIV#left-area DIV.r-box DIV.slide LI {
	PADDING-RIGHT: 0em; PADDING-LEFT: 0em; LIST-STYLE-POSITION: outside; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0em
}
P#info {
	MARGIN-LEFT: 0.5em; COLOR: #9d8d76; LINE-HEIGHT: 1.5em
}
TABLE#mainContent {
	MARGIN-TOP: 0.2em
}
DIV#top-two LABEL {
	MARGIN-LEFT: 0.8em
}
UL#news-list {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.5em 2.5em; PADDING-TOP: 0px
}
UL#news-list LI.hot {
	PADDING-RIGHT: 0em; PADDING-LEFT: 0.5em; BACKGROUND: url(line_n.gif) repeat-x 0px bottom; LIST-STYLE-IMAGE: url(dot_r.gif); PADDING-BOTTOM: 0.4em; PADDING-TOP: 0em
}
UL#news-list LI {
	PADDING-RIGHT: 0em; PADDING-LEFT: 0.5em; BACKGROUND: url(line_n.gif) repeat-x 0px bottom; LIST-STYLE-IMAGE: url(dot_g.gif); PADDING-BOTTOM: 0.4em; PADDING-TOP: 0em
}
UL#news-list LI.hot DIV {
	MARGIN-TOP: -1.7em; FLOAT: right; COLOR: #ff0000
}
UL#news-list LI DIV {
	MARGIN-TOP: -1.7em; FLOAT: right
}
TABLE#quan-bar01 {
	MARGIN-TOP: 0.8em
}
UL#bbs-list {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1.5em 2.5em 0.5em 2em; PADDING-TOP: 0px
}
UL#bbs-list LI {
	PADDING-RIGHT: 0em; PADDING-LEFT: 0.5em; LIST-STYLE-IMAGE: url(dot.gif); PADDING-BOTTOM: 0.5em; PADDING-TOP: 0em
}
UL#bbs-list LI DIV {
	MARGIN-TOP: -1.65em; FLOAT: right
}
UL#stroy-list {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1.5em 2.5em 0.5em 2em; PADDING-TOP: 0px
}
UL#stroy-list LI {
	CLEAR: left; PADDING-RIGHT: 0em; PADDING-LEFT: 0.5em; LIST-STYLE-IMAGE: url(dot.gif); PADDING-BOTTOM: 0.5em; PADDING-TOP: 0em
}
UL#stroy-list LI DIV {
	MARGIN-TOP: -1.65em; FLOAT: right
}
UL#stroy-list LI.pictrue {
	PADDING-RIGHT: 0em; PADDING-LEFT: 0em; LIST-STYLE-IMAGE: none; PADDING-BOTTOM: 0.5em; MARGIN-LEFT: -1.5em; WORD-BREAK: break-all; PADDING-TOP: 0em; LIST-STYLE-TYPE: none
}
UL#stroy-list LI.pictrue IMG {
	FLOAT: left; PADDING-BOTTOM: 1.5em
}
UL#stroy-list LI.pictrue SPAN {
	FLOAT: right; WIDTH: 15em; WORD-BREAK: break-all
}
UL#video-list {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 2em 0.5em; PADDING-TOP: 0px
}
UL#video-list LI {
	PADDING-RIGHT: 0em; MARGIN-TOP: 0.3em; PADDING-LEFT: 0.5em; LIST-STYLE-IMAGE: url(dot_y.jpg); PADDING-BOTTOM: 0em; PADDING-TOP: 0em; BORDER-BOTTOM: #cbb796 1px solid
}
.textbox {
	BORDER-RIGHT: #cd6f1c 1px solid; BORDER-TOP: #a15614 1px solid; BORDER-LEFT: #a15614 1px solid; WIDTH: 200px; COLOR: #191104; LINE-HEIGHT: 150%; BORDER-BOTTOM: #cd6f1c 1px solid; HEIGHT: 15px; BACKGROUND-COLOR: #ffffff
}
.ss-bar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; BACKGROUND: url(left.gif) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.ss-bar A {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 6px; BACKGROUND: url(right.gif) no-repeat right top; PADDING-BOTTOM: 4px; COLOR: #765; PADDING-TOP: 5px; TEXT-DECORATION: none
}
.ss-bar A:hover {
	PADDING-BOTTOM: 4px; COLOR: #333
}
.ss-bar-on {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; BACKGROUND: url(left_on.gif) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.ss-bar-on A {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 6px; BACKGROUND: url(right_on.gif) no-repeat right top; PADDING-BOTTOM: 4px; COLOR: #765; PADDING-TOP: 5px; TEXT-DECORATION: none
}
.ask-content {
	BORDER-RIGHT: #ae9f7c 1px solid; BORDER-TOP: #ae9f7c 0px solid; BORDER-LEFT: #ae9f7c 1px solid; BORDER-BOTTOM: #ae9f7c 1px solid
}
.text-content {
	MARGIN-TOP: 20px; BACKGROUND: url(tree.gif) no-repeat right bottom
}
DIV#right-content {
	LEFT: 875px; POSITION: absolute; TOP: 242px
}
DIV#right-content A {
	FONT-SIZE: 12px; COLOR: #f4e1b6; TEXT-DECORATION: none
}
DIV#right-content IMG {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px
}
TABLE#copyright {
	MARGIN: 1em 0em 2em 12em
}

table.tablemenu
{
background:#daecfd;
width:95%;
border:1px solid #74a7d8;
}
table.tablemenu tr td
{
border:0px;
line-height:25px;
}